langid
matplotlib
langchain
langchain-huggingface
jupyter
ipywidgets
torch
transformers
accelerate
langchain_chroma
langchain_community
sentence-transformers
langgraph-cli[inmem]
langgraph-sdk
wikipedia
streamlit
ragas
uvicorn
fastapi
gradio
gtts
faster_whisper