langchain
langchain-huggingface
torch
transformers
accelerate
langchain_chroma
langchain_community
sentence-transformers
langgraph-cli[inmem]
langgraph-sdk
wikipedia
langid
matplotlib
ragas
uvicorn
fastapi
gradio
gtts
faster_whisper